:root {
    --red-color: #9D0514;
    --white-color: #EFEFEF;
    --yellow-color: #F6BE56;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}


body {
    border: 0;
    margin: 0;
}

/*-----------------------------------------------------------------------------------------------*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-left: -20vw;
    margin-top: 90px;
}

h1 {
    font-size: 36px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 7px;
    margin-top: 0px;
}

p {
    font-size: 16px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    gap: 50px;
    align-items: center;

}

li {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;

}

a {
    color: black;
    text-decoration: none;
    gap: 50px;
}

button {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: var(--red-color);
    color: #EFEFEF;

    gap: 36px;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-color: #9D0514;

    border-radius: 3px;


}

button a {
    color: #EFEFEF;
    text-decoration: none;
}

#book-appointment {
    width: 200px;
    margin-top: 45px;
}

.logo {
    height: 51px;
    width: auto;
}

.hero-img {
    height: 700px;
    transform: scaleX(-1);
    padding: none;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    width: 655px;
    margin-left: 50px;
    margin-bottom: 100px;
}

#review-container {
    display: flex;
    gap: 53px;
}

.review-card {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 286px;
}

#pfp {
    width: 60px;
    margin-bottom: 13px;
}

#star-rating {
    margin-bottom: 3px;
}

.review-card h1 {
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 19px;
}

.review-card h2 {
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #EFEFEF;
}

#contact h1 {
    margin-top: 110px;
    margin-bottom: 32px;
}

#contact-card-container {
    margin-bottom: 175px;
    display: flex;
    gap: 22px;
    align-items: flex-start;
}

#contact-us {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 570px;
    padding: 35px 50px 60px 50px;
    border-radius: 3px;
}

#contact-us h2 {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.32em;
    margin: auto;
    margin-bottom: 24px;
}

#contact-us label {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 6px;
}

#contact-us input {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding: 13px 0px 13px 18px;
    margin-bottom: 24px;
}

#contact-us textarea {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding: 13px 0px 13px 18px;
    margin-bottom: 24px;
    resize: none;
}

#hours {}

#hours-card {
    border-radius: 3px;
    width: 335px;
    background-color: white;
    padding: 35px 50px 32px 50px;
}

#hours h2 {
    margin-bottom: 16px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.32em;
    margin-bottom: 17px;
    text-align: center;
}

#days-of-the-week p {
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
}

#times p {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 28.1px;
}

#time-container {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.contact-info {
    margin-bottom: 8px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.contact-info b {
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#hours-message {
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 13px;
}

footer {
    width: 100%;
    background-color: black;
    padding: 66px;
}

#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#footer-top {
    display: flex;
    align-items: center;
    gap: 72px;
    margin-bottom: 15px;
}

#footer-top img {
    height: 58px;
}

#footer-browse-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer-browse-section h2 {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
    opacity: 0.65;
}

#footer-browse-section a {
    font-family: poppins, sans-serif;
    font-style: normal;
    font-size: 14px;
    color: white;
}

#footer-divider {
    border: none;
    height: 1px;
    width: 616px;
    background-color: white;
}

#footer-container h3 {
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    opacity: 0.7;
    font-size: 13px;
}

/*
// Poppins Bold
font-family: poppins, sans-serif;
font-weight: 700;
font-style: normal;

// Poppins Regular
font-family: poppins, sans-serif;
font-weight: 400;
font-style: normal;

// Poppins Light
font-family: poppins, sans-serif;
font-weight: 300;
font-style: normal;

// Poppins Light Italic
font-family: poppins, sans-serif;
font-weight: 300;
font-style: italic;
*/